// fonts

@import url('https://rsms.me/inter/inter.css');

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// global

a {
  @apply text-accent;

  transition: 0.2s;
}

// layout

#__next {
  @apply flex flex-col;

  min-height: 100vh;

  main {
    @apply flex flex-col flex-1 p-8;

    &.main {
      position: relative;
      overflow: hidden;

      &:before {
        @apply bg-primary-dark;

        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: -2em;
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% + 4em);
        z-index: -1;
      }
    }
  }
}

// components

.hero {
  &:before {
    background: #010f28;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:nth-child(odd):before {
    clip-path: polygon(0 3em, 100% 0, 100% calc(100% - 3em), 0 100%);
  }

  &:nth-child(even):before {
    clip-path: polygon(0 0, 100% 3em, 100% 100%, 0 calc(100% - 3em));
  }
}

.nav-link {
  &:before {
    content: '';
    height: 1.5em;
    margin: 0.1em 0 0 -0.1em;
    position: absolute;
    transition: 0.2s;
    width: calc(100% - 4em);
    transform: scale(0.1);
    z-index: -1;
  }

  &:hover:before,
  &.active:before {
    background: #ea5167;
    transform: skew(-3deg, 2deg) scale(1.25);
  }
}
